body{
background-color:rgba(161, 161, 246, 0.993);
margin: 0px;
}

table{
border: 2px black solid;
margin: 10px 145px;
text-align: center;
font-weight: bold;
font-size:20px;
display: flex;
flex-wrap: wrap;
}

tr{
margin: 10px 162px;
text-align: center;
font-weight: bold;
font-size:20px;
display: flex;
flex-wrap: wrap;
}


#planningtab{
padding: 10px 90px 0px 90px;
width: 70px;
height: 60px;
border: 2px black solid;
background-color: rgb(226, 202, 193);

}

#planningtab1{
padding: 10px 90px 20px 90px;
width: 70px;
height: 60px;
border: 2px black solid;
background-color: rgb(233, 177, 156);
}

#planningtab2{
width: 248px;
padding-top:30px;
height: 60px;
border: 2.5px black solid;
background-color: rgb(233, 177, 156);
font-size:20px;
text-align: center;
font-weight: bold;
}

.aligntab{
margin: 0px 0px 0px 0.5px;
}

a:link{
    text-decoration: none;
}