body{
background:linear-gradient( rgba(255, 255, 255, 0.993),rgb(201, 234, 248));
margin: 0px;
}

table{
border: 3px ;
margin: 10px 145px;
text-align: center;
font-weight: bold;
font-size:20px;
display: flex;
flex-wrap: wrap;
border-radius: 2em;
background:linear-gradient(white, rgba(235, 145, 60, 0.855)) ;
}



tr{
margin: 0px 162px;
text-align: center;
font-weight: bold;
font-size:20px;
display: flex;
flex-wrap: wrap;
}

#tr{
    margin: 0px 480px 10px 480px;
    text-align: center;
    font-weight: bold;
    font-size:20px;
    display: flex;
    flex-wrap: wrap;
    }
    




#planningtab{
padding: 10px 90px 0px 90px;
width: 70px;
height: 55px;
border: 2px black solid;
background:linear-gradient(rgb(216, 246, 229),rgb(199, 245, 219),rgb(154, 206, 176)) ;
border-radius: 0.5em;

}

#planningtab4{
    padding: 5px 90px 0px 90px;
    width: 70px;
    height: 50px;
    border: 2px black solid;
    background-color: rgb(232, 239, 248);
    border-radius: 0.5em;

    }

#planningtab1{
padding: 10px 90px 20px 90px;
width: 70px;
height: 60px;
border: 2px black solid;
background-color: rgb(233, 177, 156);

}

#planningtab2{
width: 248px;
padding-top:30px;
height: 60px;
border: 2.5px black solid;
background-color: rgb(248, 243, 151);
font-size:25px;
text-align: center;
font-weight: bold;
border-radius: 0.5em;
}

#planningtab2bis{
width: 200px;
padding-top:25px;
height: 85px;
border: 2px black solid;
background-color: rgba(248, 243, 151, 0.572);
font-size:27px;
text-align: center;
font-weight: bold;
border-radius: 0.5em;
}

#planningtab2bis2{
width: 400px;
padding-top:45px;
height: 65px;
border: 2px black solid;
background-color: rgba(255, 249, 128, 0.834);
font-size:23px;
text-align: center;
border-radius: 0.5em;
color:rgb(251, 93, 93);
}

#planningtab2bis3{
width: 400px;
padding-top:45px;
height: 65px;
border: 2px black solid;
background-color: rgb(248, 243, 151);
font-size:20px;
text-align: center;
border-radius: 0.5em;
color:rgb(251, 93, 93);
}
    


#planningtab3{
padding: 10px 0px 0px 0px;
width: 250px;
height: 55px;
border: 2px black solid;
background:linear-gradient(rgb(250, 161, 153),rgb(248, 116, 104),rgb(192, 93, 86)) ;
border-radius: 0.5em;
}

.col{
    color:white;
}

.aligntab{
margin: 0px 0px 0px 0.5px;
}

a:link{
text-decoration: none;
color:rgb(58, 56, 56);
}

.alidiv
{
border:2px black solid;
margin:0% 43%;
padding-top:20px;
text-align: center;
background-color: rgb(255, 104, 104);
border-radius: 3em;
font-size: 20px;
font-weight: bold;

}

.alidiv2
{
border:2px black solid;
margin:0% 2%;
padding-top:5px;
text-align: center;
background-color: rgb(255, 104, 104);
border-radius: 6em;
font-size: 20px;
font-weight: bold;
background-color: white;
}

.flex{
margin: 0px auto 50px;
display: flex;
justify-content: space-between;
border:2px black solid;
background-color: rgb(0, 0, 0);
font-family: Georgia, 'Times New Roman', Times, serif;

}

.flexhead{
padding:5px 30px;
margin: 30px auto;
background-color: rgb(255, 255, 255);
border:2px black solid;
border-radius: 0.5em;
font-size:x-large;
}

.divco{
width: 400px;
height: 500px;
border:2px black solid;
margin:100px auto 0px;
background-color: rgb(255, 241, 219);
border-radius: 0.5em;
text-align: center;
padding:50px 0px 0px 0px;

}

.divco2{
    width: 400px;
    height: 500px;
    border:2px black solid;
    margin:100px auto 0px;
    padding:10px 0px 30px 0px;
    background-color: rgb(255, 241, 219);
    border-radius: 0.5em;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    color:grey;
    }
    .divco3{
        width: 400px;
        height: 500px;
        border:2px black solid;
        margin:100px auto 0px;
        padding:70px 0px 0px 0px;
        background-color: rgb(255, 241, 219);
        border-radius: 0.5em;
        text-align: center;
        font-weight: bold;
        font-size: xx-large;
        color:grey;

        }


.divin{
margin: 80px auto 0px;
display: flex;
flex-direction: column;
justify-content: space-between;
font-size: x-large;
text-align: center;
border-radius: 0.5em;
}

.divinbis{
    margin: 60px auto 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: x-large;
    text-align: center;
    border-radius: 0.5em;
    }

.divin2{
    margin: 0px auto 0px;
    display: flex;
    flex-direction: column;
    font-size: x-large;
    text-align: center;
    border-radius: 0.5em;
    }


.divin3{
margin: 15px auto 0px;
display: flex;
font-size: large;
text-align: center;
border-radius: 0.5em;
}

.divin4{
margin: 20px auto 0px;
display: flex;
flex-direction: column;
font-size: large;
text-align: center;
border-radius: 0.5em;
}

.divret{
    text-align: center;
    font-size: large;
color: rgb(255, 2, 2);
}

footer {position: absolute; bottom: 0; left: 0; right: 0}

/* FOOTER */
.copy{
margin-top: 50px;
text-align: center;
font-size:x-large;
padding: 20px 0px 20px;
color:white;
background-color: black;
font-family: Georgia, 'Times New Roman', Times, serif;

}

.copy2{
margin-top: 100px;
text-align: center;
font-size:30px;
padding: 20px 0px 20px;
color:white;
background-color: rgb(251, 164, 82);
font-family: Georgia, 'Times New Roman', Times, serif;
}