body{
background-color:rgba(255, 255, 255, 0.993);
margin: 0px;
}

table{
border: 3px black solid;
margin: 10px 145px;
text-align: center;
font-weight: bold;
font-size:20px;
display: flex;
flex-wrap: wrap;
border-radius: 2em;
background-color: burlywood;
}



tr{
margin: 10px 162px;
text-align: center;
font-weight: bold;
font-size:20px;
display: flex;
flex-wrap: wrap;
}

#tr{
    margin: 10px 420px;
    text-align: center;
    font-weight: bold;
    font-size:20px;
    display: flex;
    flex-wrap: wrap;
    }
    




#planningtab{
padding: 10px 90px 0px 90px;
width: 70px;
height: 55px;
border: 2px black solid;
background-color: rgb(199, 245, 219);
border-radius: 0.5em;

}

#planningtab4{
    padding: 5px 90px 0px 90px;
    width: 70px;
    height: 50px;
    border: 2px black solid;
    background-color: rgb(213, 225, 243);
    border-radius: 0.5em;

    }

#planningtab1{
padding: 10px 90px 20px 90px;
width: 70px;
height: 60px;
border: 2px black solid;
background-color: rgb(233, 177, 156);

}

#planningtab2{
width: 248px;
padding-top:30px;
height: 60px;
border: 2.5px black solid;
background-color: rgb(248, 243, 151);
font-size:25px;
text-align: center;
font-weight: bold;
border-radius: 0.5em;
}

#planningtab2bis{
width: 350px;
padding-top:50px;
height: 80px;
border: 2px black solid;
background-color: rgb(248, 243, 151);
font-size:23px;
text-align: center;
font-weight: bold;
border-radius: 0.5em;
}

#planningtab2bis2{
width: 350px;
padding-top:45px;
height: 85px;
border: 2px black solid;
background-color: rgb(248, 243, 151);
font-size:23px;
text-align: center;
border-radius: 0.5em;
color:rgb(251, 93, 93);
}

#planningtab2bis3{
width: 350px;
padding-top:45px;
height: 85px;
border: 2px black solid;
background-color: rgb(248, 243, 151);
font-size:20px;
text-align: center;
border-radius: 0.5em;
color:rgb(251, 93, 93);
}
    


#planningtab3{
padding: 10px 0px 0px 0px;
width: 250px;
height: 55px;
border: 2px black solid;
background-color: rgb(253, 209, 159);
border-radius: 0.5em;
}

.aligntab{
margin: 0px 0px 0px 0.5px;
}

a:link{
text-decoration: none;
color:rgb(58, 56, 56);
}

.alidiv
{
border:2px black solid;
margin:0% 40%;
padding-top:20px;
text-align: center;
background-color: rgb(255, 104, 104);
border-radius: 6em;
font-size: 20px;
font-weight: bold;

}